@import 'h5bp/h5bp-head.css';
@import 'h5bp/normalize.css';
@import 'h5bp/h5bp-tail.css';
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* body {
		background-image: url("../img/yeheader.jpg");
		background-repeat: no-repeat;
		background-attachment:fixed, scroll;
		background-position: top;
}
*/

h1,h2,h3,aside {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
	}

p,figcaption,nav,button {
	 	font-family: 'Montserrat', sans-serif;
		font-weight: 400;
	}







/* width/size of page */
p,h2,h3 {
		max-width: 960px;
		margin:auto;
}

h2 {
		padding-left:25%;
}

h3 {
		padding-left: 35%;
		margin-right: 10%;
}

p {
		padding-left: 30%;
		margin-right: 10%;
}

nav {
		padding-left: 10%
}







/* HEADLINE */

h1 {
		color:#333;
		padding-left: 43%;
		margin-top: 20%;
		margin-bottom: 20px;
}







/* font sizes */
h2 {
		font-size: 48pt;
		font-weight: 700;
}

h3 {
		font-size: 24pt;
		font-weight: 400;
}

p {
		font-size: 18pt;
}








/* spacing */

br.sectionbreak {
		display:block;
		line-height:100px;
}

h3 {
		margin-top:40px;
		margin-bottom:10px;	
}





/* nav */

nav a {
		color:#555;
		text-decoration: none;
}

nav {
		text-align: right;
		position:fixed;
		color: #555;
}

nav a:hover {
		color: #222;
}

nav a:active {
		color: #111;
}







/* button */

button{
		background-color: #333;
		border: none;
		color: #fdfdfd;
		padding: 20px 35px;
		text-align: center;
		font-size: 14px;
		margin-left: 75%;
		margin-top: 1%;
}

button a {
		text-decoration: none;
		color: #fdfdfd;
}

button:hover {
		background-color: #69a2b4;
}





/* pull quote */

aside {
		float:left;
		max-width: 875px;
		padding-left: 10%;
		font-size: 30pt;
		text-align: right;
		padding-right: 50%;
}


/*
		margin-left: 10%;
		max-width: 960px;
		font-size: 30pt;
		text-align: right;
		margin-right: 50%;
*/










/*
#titleye {
		width:auto;
		background: none;
		color: #333;
		left: 50%;
		top:50%;
}

#solopic {}
		width:250px;
		float:right;
		margin-left:20px;
		margin-bottom:50px;
}

#solocap {
		width:250px;
		font-weight: 100;
		text-align:right;
		display:none;
}
*/



img{
	display:none;
}

figcaption {
	display:none;
}























/*
#discobanner {
		width:auto;
		margin: 100px 0px 150px;
}
*/















/* 

	Put typographic formatting in the typography.css file.
	Page layout styles go in layout.css.

	In production, do not use imports.
	Instead, concatenante and minify files. 

*/


