



@font-face {
	font-family: 'Arvo-Regular';
	src: url('fonts/arvo/Arvo-Regular.ttf');

}

header {
	width: 100%;
}

#header-logo {
	background-color: #bd1622;
	width: 100%;
}

#header-logo img{
	width: 780px;
	margin: auto;
	display: block;
}


h2 {
	padding-bottom: 3px;
	border-bottom: 3px solid #d4af37;
	display: inline-block;
	font-size: 20pt;

}

body {
	font-family: 'Arvo-Regular';
	width: 100%;
	background-color: #feeadb;
}





<!--navigation bar-->

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	padding-top: 30px;


}

nav {
	width: 800px;
	margin: auto;
}

li {
	display: inline;
	font-size: 18pt;
	padding: 20px;


}


a {
	color: #363636;
	display: inline-block;
	text-decoration: none;
	padding-bottom: 10px;
}



a:hover {
	color: #363636;
	padding-bottom: 3px;
	border-bottom: 3px solid #d4af37;
}


.currentLink {
	padding-bottom: 3px;
	border-bottom: 3px solid #d4af37;
}

a:active {
	color: #363636;
	padding-bottom: 3px;
	border-bottom: 3px solid #d4af37;
}


a:visited {
	color: #363636;
	text-decoration: none;
}


.full-width {
	width: 100%;
	background-color: #bd1622;
}





p {
	font-size: 14pt;
	width: 800px;
	text-align: left;
}









h1 {
	color: #363636;
	padding-top: 100px;
	font-size: 30pt;
	width: 800px;
}



.hotel-name {
	background-color: #bd1622;
	margin-left: 200px;
	margin-right: 200px;
	padding: 0;
}


#logo {
	width: 150px;
	height: 150px;
}

.underline-title {
	padding-bottom: 3px;
	border-bottom: 3px solid #d4af37;

}



#aboutus-description {
	padding-bottom: 200px;
	padding-top: 50px;
	width: 800px;
	padding-left: 100px;
	margin: auto;
}



#rooms-body {
	margin: auto;
	width: 800px;
}

.room-images {
	padding-top: 80px;
	padding-bottom: 80px;
}

#room4 {
	padding-bottom: 200px;
}

#story-headline {
	padding-left: 300px;
	margin: auto;
	text-align: left;
}


#findoutmore {
	padding-bottom: 5px;
	height: 20px;
}



#Menu {
	width: 800px;
	margin: auto;
	padding-bottom: 200px;
	padding-top: 100px;
}

#mendls-photo {
	padding-bottom: 100px;
}




#body-booknow {
	width: 800px;
	margin: auto;
	padding-bottom: 200px;
	padding-top: 100px;
}

#book-headline {
	padding-top: 100px;
}

.wrapper {
	font-size: 16px;
	width: 800px;
	margin: auto;
	text-align: center;
}

form{
	text-align: left;}


#enquiries {
	padding-top: 50px;
}



#request-button {
	margin: auto;
	background-color: #bd1622;
	font-family: "Arvo-Regular";
	padding: 10px;
	font-size: 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: #fcb658;
	width: 200px;
	height: 60px;
	margin-top: 200px;
	border: 6px solid #fcb658;
}

#request-button:hover {
	background-color: #F97373;
	transition-duration: 0.4s;
}

















THIS IS NOT WORKING 

address {
	font-size: 10pt;
	float: left;
}

#the-address {
	font-size: 10pt;
	float: left;
	padding-left: 200px;
	padding-top: 50px;
}




footer {
	background-color: #f3cebe;
	height: 200px;
	font-size: 10pt;
	padding-top: 50px;
	padding-bottom: 100px;
	width: 100%;
}


.footer-text {
	font-size: 10pt;
}


#contact {
	position: relative;
	left: 800px;
	bottom: 215px;

}


#booknow-image {
	width: 100%;
}



#specials-section, #rooms-title, #services-title {
	text-align: center;
}

#specials-section p {
	text-align: center;
}

#drinks-section p, h2 {
	text-align: center;
}

#drinks-title {
	text-align: center;
}

#services-1 {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    column-fill: auto;
    display: block;
    padding-left: 150px;

}
#services-1 p{
	display: inline-block;
	margin: 5px 0;
}

label {
	padding-right: 5px;
	font-size: 15pt;
	text-align: left;
}

input {
	padding: 10px 15px;
	margin: 5px 3px;
	font-size: 12pt;
	font-family: "Arvo-Regular"

}

input:focus {
    border: 3px solid #555;

}



#Book-now-form {
	margin: auto;
	width: 600px;
	padding-left: 60px;
}



#crossedkeys {
	height: 300px;
	width: 350px;

}






#email-us {
	padding-top: 100px;
	padding-bottom: 50px;
	position: relative;
	left: 80px;
	height: 50px;
}



input, label {
	height: 50px;
}

form {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
	column-count: 2;
	padding-top: 50px;
	column-gap: 20px;
}


#header-items {
	padding-top: 50px;
	width: 800px;
	margin: auto;
}

#aboutus-description {
	padding-top: 50px;
	width: 800px;
}












