@import 'h5bp/h5bp-head.css';
@import 'h5bp/normalize.css';
@import 'h5bp/h5bp-tail.css';

/* 

	Put typographic formatting in the typography.css file.
	Page layout styles go in layout.css.

	In production, do not use imports.
	Instead, concatenante and minify files. 

*/
.logo{
  display:block;
  margin-right: auto;
  margin-left: auto;
  position:relative;
}

.homephoto{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 624px;
}

nav {
    background: #CC9330;
  color: #ffffff;
  text-decoration: none;
  margin: auto;
  display: block;
  padding: 10px;
  width: 705px;
  font: "freight-neo-pro",sans-serif;
}

h1{
  font-family: "le-monde-livre-classic-std-s",sans-serif;
  text-align: center;

}
h2{
    font-family: "le-monde-livre-classic-std-s",sans-serif;
  text-align: center;
}
.toni{
  display:block;
  margin-right: auto;
  margin-left: auto;
  
}

.candace{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

a:hover {
  background: #FFB036;
  text-decoration: none;
  padding: 27px;
}
a { color: #fff; 
    text-decoration: none;
    padding: 27px;}

.navbar li{
  font-size: 20px; 
}

body{
	background-image: url("../img/pattern.jpg");
	background-repeat: repeat;
}


li{
  display: inline;
  margin-right: 10px;

}

ul{
  text-align: center;
  
}

ul.policy{
  width: 624px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p{
  text-align: left;
  margin-bottom: 20px;
  font-size: 18px;
  width: 550px;
  font: "freight-neo-pro",sans-serif;
  margin-top: -20px;
}

p.abouttext{
  text-align: center;
  padding: 15px;
}
.content{
  background-color:#F2D5AF;
  width: 624px;
  display: block;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  margin-top: 0px;
}

form{
  font-family: "freight-neo-pro",sans-serif;
}

form.p{
  margin: 10px;
}


@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

.transition (@time: .5s, @range: all, @ease: ease-out) {
  -moz-transition: @range @time @ease;
  -webkit-transition: @range @time @ease;
  -o-transition: @range @time @ease;
  transition: @range @time @ease;
}

.transition-delay (@time: .4s) {
	-webkit-transition-delay: @time;  
	-moz-transition-delay: @time;  
	-o-transition-delay: @time;  
	-transition-delay: @time; 
}

.border-radius(@radius) {
	-moz-border-radius:@radius;
	-webkit-border-radius:@radius; 
  border-radius: @radius;
}

.gradient (@coler1: #fff, @coler2: #ccc) {
    background: @coler1;
    background: -moz-linear-gradient(@coler1, @coler2);
    background: -webkit-linear-gradient(@coler1, @coler2);
    background: -o-linear-gradient(@coler1, @coler2);
}

.box-shadow(@dims:0 0 10px, @color:#000) {
	box-shadow: @dims @color; // Opera, FFX4
	-moz-box-shadow:@dims @color; // FFX3.5
	-webkit-box-shadow:@dims @color; // Safari/Chrome/WebKit
	.ie7 { filter: e(%("progid:DXImageTransform.Microsoft.Shadow(color='%d', Direction=135, Strength=3)", @color)); }
}

.inset(@dims:1px 1px 1px, @color:#fff) {
    box-shadow: @dims @color; // Opera, FFX4
    -moz-box-shadow:@dims @color; // FFX3.5
    -webkit-box-shadow:@dims @color; // Safari/Chrome/WebKit
}




.modalbg {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0);
	z-index: 99999;
	.transition(2s);
  .transition-delay(.2s);
	display: block;
	pointer-events: none;
  .dialog {
    width: 400px;
    position: relative;
    top: -1000px;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    .border-radius(10px);
    .gradient;
    .box-shadow;
  }
}

.modalbg:target {
	display: block;
	pointer-events: auto;
  background: rgba(4, 10 ,30, .8);
  .transition();
  .dialog {
    top: -20px;
    .transition(.8s);
    .transition-delay;
  }
}



.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
  .box-shadow;
  .transition;
  .transition-delay(.2s);
  &:hover { background: #00d9ff; .transition; }
}

.fineprint {
  font-style: italic;
  font-size: 10px;
  color: #646;
}



