body{
	background-color: #D15950;
	color: #EAE3DC;;
}
h2{
	color: #F2B5A7;
	font-size: 40px;
	width: 40%;
	font-size: 50px;
	line-height: 45px;
	float: left;
	text-align: right;
	padding-right: 5px;

}

.h{
	position: relative;
}
.keefe{
	width:100%;
	position:relative;
	top:-20px;
	z-index: -10px;
}

header{
	background-image: url("keefe.jpg");
	height: 440px;
	background-position: center top;	
	background-size: cover;
	margin: 0px;
	padding: 480px 0 0;

}

h1{
	color: #fff;
	font-size: 120px;
	text-align: center;
	padding: 3px;
	line-height: 35px;
	
}

button{
	text-decoration: none;
	margin: 0 auto;
	line-height: 10px;
	margin: 5px;
	width: 300px;
	height: 50px;
	border: 3px;
	text-align: center;
	background-color: #B2322F;
	color: #F5A3A4;
	font: 40px;
	padding: 10px;
}

.face{
	width: 100%;
}

.words{
	width: 1120px;
	line-height: 25px;
	font-size: 20px;
	margin: auto;
	display: block;
	overflow: auto;

}

.words p{
	width: 600px;
	float: right;
}

a{
	text-decoration: none;
	margin: 0 auto;
	line-height: 10px;
	margin: 5px;
	width: 300px;
	height: 50px;
	border: 3px;
	text-align: center;
	background-color: #B2322F;
	color: #F5A3A4;
	font: 40px;
	padding: 10px;
}