 .wrapper, h1 {
	margin: auto;
	width: 1120px;
	}
p   {
	font-family: "baskerville-urw", serif;
	font-size: 15px;
	}	
h1	{
	font-family: "gills sans", "ARIAL BLACK", sans-serif;
	font-size: 80px;
	margin-left: 75px;
	margin-right: auto;
	text-decoration: underline;
	color: #BD2C44;
	}

a:hover {
	color: #C86B7A;
		}

a:visited{
	color: #8A2032;
	text-decoration: none;
		}
a   	{
	color: #BD2C44;
	text-decoration: none;
		}
blockquote{
	color: #8A2032;
	font-size: 18px;
	}
h2	{
	font-family: "gill sans";
	font-size: 50px;
	color: #FFFFFF;
	text-align: middle;
	letter-spacing: 10px;
	padding: 3px;
	}
h3	{
	font-family: "baskerville-urw";
	font-size: 16px;
	}
h4	{
	display: inline-block;
	font-color: #BD2C44;
	font-family: "baskerville-urw", "Arial black", serif;
	width: 85px;
	text-align: justify;
	margin-left: 75px;
	margin-right: auto;
	}
em, .name {
	color: #BD2C44 !important;
		}
.name	{
	display: inline;
	break-before: none;
		}
.first	{
	font-family: "gill sans";
	font-size: 50px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 10px;
	padding: 3px;
	vertical-align: text-top;
		}
.second	{
	color: #FFFFFF;
}
#intro {
	font-family: "gill sans";
	font-size: 120px;
	font-color: #000000;
	padding: 50px;
	width: 1250px;
	height: 650px;
	margin-bottom: 50px;
		}
#chunk1 {
	float: left;
	width: 480px;
	margin-right: 50px;
	display: block;
	text-align: justify;
	margin-top: 50px;
		}
#chunk2 {
	float: right;
	width: 480px;
	margin-left: 50px;
	margin-top: 135px;
	display: block;
	text-align: justify;
		}
.grid1	{
	margin-left:300px;
	margin-right:100px;
	width: 1170px;
	font-color: #FFFFFF;
	}
#russian
	{
	background-color: #0A1738;
	padding: 25px;
	width: 250px;
	height: 250px;
	float: left;
	}
#metaphysical
	{
	background-color: #24408E;
	padding: 25px;
	width: 250px;
	height: 250px;
	font-color: #FFFFFF;
	float: left;
	}
#mereological
	{
	background-color: #4F74CD;
	padding: 25px;
	width: 250px;
	height: 250px;
	font-color: #FFFFFF;
	float: left;
	}
#epistemological
	{
	background-color: #4F74CD;
	padding: 25px;
	width: 250px;
	height: 250px;
	font-color: #FFFFFF;
	float: left;
	}
#moral
	{
	background-color: #0A1738;
	padding: 25px;
	width: 250px;
	height: 250px;
	font-color: #FFFFFF;
	float: left;
	}
#existential
	{
	background-color: #24408E;
	padding: 25px;
	width: 250px;
	height: 250px;
	font-color: #FFFFFF;
	display: inline-block;
	}
#chunk3 {
	float: left;
	width: 960px;
	display: block;
	margin-left: 300px;
		}
#dada, #lit, #music, #film	{
	width: 224px;
	height: 224px;
	margin-top: 50px;
	font-family: "gill sans", sans-serif;
	float: left;
	text-align: center;
	display: inline-block;
		}
#dada	{
	background-color: #0A1738;
		}
#lit 	{
	background-color: #4F74CD;
	vertical-align: text-top;
		}
#music 	{
	background-color: #24408E;
		}
#film 	{
	background-color: #0A1738;
		}
.dada, .lit, .music, .film	{
	width: 200px;
	margin: 10px;
	height: auto;
	float: left;
		}
#reg-img	{
	float: left;
	position-bottom: 500px;
		}
.button	{
	width: 150px;
	height: auto;
	padding: 10px;
	border-radius: 20px;
	background: #000000;
	text-decoration: none;
	float: left;
		}
.column-img
	{
	width: 200px !important;
	height: 200px !important;
	display: inline-block;
	}
.reg-img{
	height: 291px;
	width: 500px;
	margin-top: 500px;
	margin-right: 50px;
	margin-bottom: 500px;
	float: left;
	display: inline-block;
	}	
hr {
	color: #BD2C44;
	}
blockquote {
	font-color: #0A1738;
		}
#undertext
	{
	display: block;
	float: left;
	height: 300px;
	width: 300px;
	}
footer {
	width: 1120px;
	float: left;
	margin-top: 50px;
	padding: 0px 400px 0px 400px;
	background-width: 100%;
	background-color: #24408E;
	}
footer p {
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #24408E;
	width: 425px;
	text-align: center;
	padding: 0px 25px 0px 25px;
	margin-left: 100px;
	}

    /* Hide the second piece of text by default */
    p.hovertext .second {
         display:none;
    }

    /* Hide the first piece of text on hover */
    p.hovertext:hover .first {
         display:none;
    }

    /* Re-show the second piece of text on hover */

    p.hovertext:hover .second {
        display:inline;
    }
/*
red #BD2C44
prime blue #24408E
light blue #4F74CD
dark blue #0A1738
	<a href="#russian" class="button">Read more, if you want. It doesn't matter anyway</a>
gills sans & baskerville urw
/*
