@import 'h5bp/h5bp-head.css';
@import 'h5bp/normalize.css';
@import 'h5bp/h5bp-tail.css';
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



h1,h2,h3 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
	}

p,figcaption,nav {
	 	font-family: 'Montserrat', sans-serif;
		font-weight: 100;
	}

body {
		background: #fdfdfd;
}

header,section {
		width:1170px;
		margin: auto;
}



#titleye {
		width:auto;
		background: none;
		color: #333;
		left: 50%;
		top:50%;
}

#main {
		position:relative;
		float:left;
		margin: 0px 0px 150px;
}









#solopic {
		width:250px;
		float:right;
		margin-left:20px;
		margin-bottom:50px;
}

#solocap {
		width:250px;
		font-weight: 100;
		text-align:right;
		display:none;
}









p {
		width:730px;
		margin: 0px 0px 0px 530px;
		font-size:1em;
}

h2 {
		width:840px;
		font-size: 60pt;
		margin:100px 0px 50px 370px;
}

h1,h2,h3 {
		color: #222
}

h3 {
		width:730px;
		float:right;
		font-size:24pt;
}

















hr {
		display:none;
}







#discobanner {
		width:auto;
		margin: 100px 0px 150px;
}










a {
		color:#222;
		text-decoration: none;
}

nav {
		text-align: right;
		position:fixed;
		left: 405px;
		top: 520px;
		color: #222;
}







/* 

	Put typographic formatting in the typography.css file.
	Page layout styles go in layout.css.

	In production, do not use imports.
	Instead, concatenante and minify files. 

*/


