body {
  color:#FFFFFF;
  font-family: Raleway, Tahoma, Geneva, sans-serif;
  font-weight:200;
  background-color:#1b1c23;
  width:800px;
  margin:auto;
  padding-top:100px;
  padding-bottom:50px;
  line-height:130%;
}

h1{
  text-transform:uppercase;
  letter-spacing:0px;
  text-align:center;
  font-size:36px;
  font-family:Raleway;
  font-weight: 200;
  display:inline;
}

h2 {
  color:#ffffff;
  font-size:36px;
  letter-spacing:0px;
  margin-bottom:-10px;
}

h3 {
  color:#ffffff;
  font-size:36px;
  letter-spacing:0px;
  font-weight: 300;
  margin-bottom:-15px;
  line-height:80%;
}

h4{
  text-transform:uppercase;
  text-align:center;
  font-size:10px;
  letter-spacing:3px;
}

.navbar a{
text-decoration:none;
}

.sidecontainer {
position:relative;
}

#sidebar{
position:absolute;
top:30px;
bottom:0;
left:30px;
width:65px;
background:#000;
z-index:-1;
font-size:14px;
}

#sidebar a{
text-decoration:none;
}

#founders{
position:absolute;
top:80px;
bottom:0;
left:30px;
height:20px; 
width:80px;
z-index:-1;
font-size:14px;
}

#founders a{
text-decoration:none;
}

#content{
position:absolute;
top:130px;
bottom:0;
left:30px;
height:20px; 
width:90px;
z-index:-1;
font-size:14px;
}

#content a{
text-decoration:none;
}

#footer{
position:absolute;
border:0px solid #000;
height:20px;
margin:0px 0 0 0;
z-index:0;
}

#history{
margin-left:150px;
margin-top:30px;
text-align:justify;
}

#historyt{
text-align:right;
}

#historyp{
-webkit-column-count: 2;
padding-top:5px;
}

#stark{
margin-left:150px;
}

#starkp{
text-align: justify;
margin-left:150px;
padding-top:10px;
}

.starkimg{
padding-left: 10px;
}

#stane{
text-align: right;
margin-left:150px;
}

#stanep{
text-align:justify;
margin-left:150px;
padding-top:10px;
}

.staneimg{
padding-right: 10px;
padding-top:5px;
}

#expo{
text-align: left;
margin-left:150px;
}

.expop{
text-align:justify;
margin-left:150px;
padding-top:10px;
}

.expoimg{
padding-left: 10px;
padding-top:5px;
padding-bottom:5px;
}

.expoimg2{
padding-right: 10px;
padding-top:5px;
padding-bottom:5px;
}

#header{
  display:inline;
  margin-top:-70px;
  position:fixed;
  z-index:20px;
}

a:link {
  color:#FFFFFF
}

a:visited {
  color:#FFFFFF;
}

a:hover {
  color:#FFFFFF;
}

a:active {
  color:#424242;
}

table,th,td{
  border-collapse:collapse;
  border:1px solid;
  padding:20px;
  background:#ffffff;
  width:500px;
  margin:auto;
}

.container {
  position:absolute;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 800px;
  top:53px;
  letter-spacing:2px;
  font-weight: 300;
  font-size:12px;
}

ul {
  list-style: none;
  margin-top:-55px;
  padding: 0;
}

li {
  display: inline-block;
  padding: 20px;
}

span {
  position: relative;
  display: block;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #3299bb;
}

span:before {
  left: -2.5px;
}

span:after {
  right: 2.5px;
  background: #3299bb;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: #3299bb;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.rect1{
  position:absolute;
  top:77px;
  margin-top:-37px;
  margin-left:290px;
}

.rect2{
  align:center;
  position:absolute;
  top:70px;
  z-index:4;
}

.rect3{
  position:absolute;
  top:107px;
  margin-top:-37px;
  margin-left:px;
}

.rect4{
  align:center;
  position:relative;
  top:75px;
  left:150px;
  z-index:-1;
}

.rect5{
  align:center;
  position:relative;
  top:90px;
  left:450px;
  z-index:-1;
}

.rect6{
  align:center;
  position:relative;
  top:95px;
  left:150px;
  z-index:-1;
}

.rect7{
  align:center;
  position:relative;
  top:92px;
  left:590px;
  z-index:-1;
}

.img1{
  margin-top:-30px;
  position:relative;
  z-index:0;
}

.headimg{
  position:absolute;
  top:45px;
  margin-top:-37px;
}