@import 'h5bp/h5bp-head.css';
@import 'h5bp/normalize.css';
@import 'h5bp/h5bp-tail.css';

/* 

	Put typographic formatting in the typography.css file.
	Page layout styles go in layout.css.

	In production, do not use imports.
	Instead, concatenante and minify files. 

*/

body {
	background-color: #FFFFF6;
	width: 100%;
	margin: auto;
	min-width: 100px;
}

#container {
	width: 100%;
	margin: auto;
}

.title {
	width: 100%;
	margin: auto;
	}


.first {
	width: 1300px;
	margin: auto;
}

.second {
	width: 1300px;
	margin: auto;
}

.third {
	width: 1300px;
	margin: auto;
}

.fourth {
	width: 1300px;
	margin: auto;
}

.fifth {
	width: 1300px;
	margin: auto;
}

h3 {
	font-family: helvetica;
	color: #94B1B1;
}

h3.history {
	margin: 250px auto 0;
	font-size:50px;
	width: 250px;

}

h3.pioc {
	margin: 250px auto 0;
	font-size: 45px;
	width: 665px;
}

h3.aop {
	margin: 250px auto 0;
	font-size: 50px;
	width: 600px;
}

h3.twe {
	margin: 250px auto 0;
	font-size: 45px;
	width: 390px;
}

h3.nin {
	margin: 225px auto 0;
	font-size: 45px;
	width: 500px;
}

p {
	margin: 100px 300px;
	line-height: 160%;
	color: #94B1B1;
}

.text {
	margin: auto auto -100px;
	font-size: 17px;
}

.textbox {
	margin: -50px auto 400px;

}

a:link {
	color: #94B1B1;
	float: right;
	font-size: 15px;
	margin: -20px 400px;
}

a:visited {
	color: #94B1B1;
}

.man {
	width: 700px;
	margin: auto 300px;
}

.sarah {
	width: 100%;
	margin: auto;
}

.poetry {
	width: 100%;
	margin: auto;
}

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.AUstudent {
	width: 700px;
	margin: auto 300px;
}


.mic {
	width: 100%;
	margin: auto;
}

.manquote {
	width: 1300px;
	margin: auto;
}

.allenquote {
	font: helvetica;
	color: #8B84B9;
	font-size: 40px;
	margin: 200px 300px 100px 300px;
	text-align: justify;
}

.allenname {
	font: helvetica;
	color: #8B84B9;
	font-size: 20px;
	margin: -40px 400px 200px;
	float: right;
}

.line3 {
	width: 800px;
	height: 7px;
	color: #BFE3E3;
	background-color: #BFE3E3;
	margin: 250px 250px -170px;
}

.line4 {
	width: 800px;
	height: 7px;
	background-color: #BFE3E3;
	margin: 120px 250px 250px;
}

.girlquote {
	width: 1300px;
	margin: auto;
}
.sarahquote {
	font: helvetica;
	color: #8B84B9;
	font-size: 35px;
	margin: 140px 300px 100px 300px;
	text-align: justify;
}

.sarahname {
	font: helvetica;
	color: #8B84B9;
	font-size: 30px;
	font-size: 20px;
	margin: -50px 400px 200px;
	float: right;
}

.line5 {
	width: 800px;
	height: 7px;
	background-color: #BFE3E3;
	margin: -100px 255px -100px;
}

.line6 {
	width: 800px;
	height: 7px;
	background-color: #BFE3E3;
	margin: 120px 255px 300px;
}

.vids {
	width: 500px;
	margin: auto;
}

.more {
	width: 100px;
}

button {
	background-color: #94B1B1;
	border-radius: 5px;
	width: 200px;
	height: 50px;
	margin: 200px 150px;
	border: none;	
	font-size: 16px;
	font: helvetica;
	color: #FFFFF6;
}

footer {
	width: 1160px;
	margin: auto;
}

.footer {
	letter-spacing: 4px;
	word-spacing: 8px;
	font-size: 9px;
	width: 100%;
}