body {
		background-image: url("../images/swirl.png");
		background-repeat: repeat;
		padding:50px;
}


img {
		border:5px dotted #b8ceff;
}


h1,h2,h3,h4,h5 {
		font-family: Century Gothic, sans-serif;
		color: #4b95cc;
}


h1{
		font-size: 300%;
}


#main-title {
		background-color: #b8ceff;
		color: white;
		padding: 8px;
		width:500px;
		margin-left:480px;
}


h2 {
		font-size: 200%;
}

h3 {
		color: black;
}

h3.descriptor {
		font-size: 105%;
		color: black;
}


p,td,th,li {
		font-family: Georgia, serif;
		font-size: 100%;
}


td {
		width:225px;
}


ul {
		width:450px;
		list-style-position: inside;
}

ul b {
		color: #4b95cc;
}
ol {
		width:450px;
		list-style-position: inside;
}

table {
		width:450px;
		margin-left:40px;
}

th,td {
		padding: 3px 5px 5px 3px;
}

tr.even {
		background-color: rgba(184,206,255,.5);
}

a:link {
		color: #b8ceff;
		text-decoration: none;
}
a:visited {
		color: #4b95cc;
		text-decoration: none;
}
a:hover {
		color: #999985;
		text-decoration: none;
}
a:active {
		color: #cbcc4b;
		text-decoration: none;
};
