
@import 'h5bp/h5bp-head.css';
@import 'h5bp/normalize.css';
@import 'h5bp/h5bp-tail.css';




@font-face {
    font-family: 'moonshiner';
    src: url('../fonts/moonshiner-webfont.eot');
    src: url('../fonts/moonshiner-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/moonshiner-webfont.woff2') format('woff2'),
         url('../fonts/moonshiner-webfont.woff') format('woff'),
         url('../fonts/moonshiner-webfont.ttf') format('truetype'),
         url('..fonts/moonshiner-webfont.svg#moonshinerround') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Karla', sans-serif;
    src: url('../fonts/karla.ttf');
}

ul.navbar {
    list-style-type: none;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    text-align: left;
    width:80px;
    margin-top: 0px;
    margin-left: 1265px;
    padding-top: 50px;
    height: 50px;

}

.navbar li a {
    display: block;
    width: 80px;
}

a:link {
    color: #a79271;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #a79271;
}

/* mouse over link */
a:hover {
    border-bottom: 2px solid #a79271;
}

/* selected link */
a:active {
    border color: #a79271;
    color: white;
}   


.content {
   
    background-size: 100%;
    display: inline-block;
    z-index: -1; 
    width: 1450px;
}

body {
    min-width: 320px;
    color: #a79271;
    font-family: 'Source Serif Pro', serif;
    width: 100%;
    display: inline-block;
    margin: 0px;
    height: 800px;
     background: url('../img/aboutus.png') center top no-repeat;
}

h2 {
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    display: inline-block;
    text-transform: uppercase;
   font-weight: bold;
   text-align: center;
   padding-bottom: -70px;
   padding-top: 120px;




}

h1 {
    font-family: moonshiner;
    font-size: 120px;
    margin-left:110px;
    font-weight: lighter;
    margin-bottom: -60px;
    font-weight: lighter;
    margin-top: -80px;


}

h3 {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    display: inline-block;
    line-height: 1;
    text-transform: uppercase;
    padding: 20px;

}

.location {
  background: url('../img/locationblue.png') no-repeat;
  display: inline-block;
  width: 28%;
  margin: 10px;
  height: 400px;
  margin-left: 20px;
  margin-right:-20px; 
  padding: 15px;
  padding-top:0px;
    text-align: center;

}


.contact {
  background: url('../img/contactblue.png') no-repeat;
  float: left;
  width: 28%;
  margin-right: 40px;
  height: 400px;
 padding: 15px;
  padding-top:0px;
  text-align: center;
}

.ourstory {
  background: url('../img/aboutblue.png') no-repeat;
  float: right;
  width: 28%;
  margin: 10px;
  height: 400px;
   padding: 15px;
   padding-top:0px;
     text-align: center;

}

.columns {
    height: 500px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    height: 500px;


}
